<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seu Resumo Semanal</title>
  </head>
  <body>
    <div
      style="
        max-width: 500px;
        margin: 40px auto;
        background-color: #ffffff;
        border: 1px solid #cecece;
        border-radius: 20px;
        padding: 50px 40px;
        margin: 50px auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      "
    >
      <div>
        <div
          style="
            margin-bottom: 20px;
            padding: 20px;
            background-color: #f9fafb;
            border-radius: 8px;
          "
        >
          <div style="display: flex; align-items: center">
            <img
              src="https://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/512/users-icon.png"
              alt="Baixar na App Store"
              style="margin-right: 8px"
              width="50"
            />
            <h2 style="margin-bottom: 10px">Leads Disponíveis</h2>
          </div>

          <p style="font-size: 16px; color: #9ca3af">
            Atualmente, existem <strong>X novos leads</strong> compatíveis com a
            sua BU. Este número será atualizado conforme novos médicos entrem na
            plataforma.
          </p>
        </div>

        <div
          style="
            margin-bottom: 20px;
            padding: 20px;
            background-color: #f9fafb;
            border-radius: 8px;
          "
        >
          <div style="display: flex; align-items: center">
            <img
              src="https://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/256/users2-3-icon.png"
              alt="user group icon"
              style="margin-right: 8px"
              width="50"
            />
            <h2 style="margin-bottom: 10px">Seus Leads Criados</h2>
          </div>
          <p style="font-size: 16px; color: #9ca3af">
            Você gerou <strong>10 novos leads</strong> nesta semana! Continue
            engajado para maximizar suas oportunidades.
          </p>
        </div>

        <div
          style="
            margin-bottom: 20px;
            padding: 20px;
            background-color: #f9fafb;
            border-radius: 8px;
          "
        >
          <div style="display: flex; align-items: center">
            <img
              src="https://icons.veryicon.com/png/o/business/blue-2/location-18.png"
              alt="map icon"
              style="margin-right: 8px"
              width="50"
            />
            <h2 style="color: #202f62">Mapa</h2>
          </div>
          <p style="font-size: 16px; color: #9ca3af">
            Confira as regiões com maior número de novos médicos disponíveis
            dentro da sua BU.
          </p>
          <img
            src="#"
            alt="Mapa de leads"
            width="100%"
            style="border-radius: 8px"
          />
        </div>

        <a
          href="https://docmining-dev.dopster.io/dashboard/my-leads/"
          style="
            display: block;
            background-color: #202f62;
            color: white;
            text-align: center;
            padding: 15px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 30px;
            margin: 20px auto;
            width: 80%;
            transition: 0.3s;
          "
          >Ver Meus Leads</a
        >
      </div>

      <div
        style="
          font-size: 12px;
          color: #aaa;
          text-align: center;
          margin-top: 40px;
          margin-bottom: 20px;
        "
      >
        <p style="font-size: 16px; color: #9ca3af">
          Para mais informações, entre em contato
          <a href="marina.alencar@dopster.io" style="color: #202f62">aqui</a>.
        </p>
        <p>&copy; 2025 DocMining</p>
      </div>
    </div>
  </body>
</html>
